{
  "plugins": [
    ["module-resolver", {
      "root": ["./src", "./config"],
      "alias": {
        "package": "./package.json",
        "config": "./config",
        "underscore": "lodash"
      }
    }]
  ]
}
